h1,h2,h3,h4,h5,h6 {
    font-family: $fontsans;
    font-weight: $fw-bold;
    line-height: 1.2;
    margin: 0 0 .75rem;
}

h2 {
    font-size:2rem;
    @include breakpoint(768px) {
        font-size:2.5rem;
    }
}
p {
    margin:0 0 1em;
}

a {
    color: inherit;
    &:hover, &:focus {
        // color: $color-blue;
    }
}

.contacts {
    > p {
        position: relative;
        padding-left: 3rem;
        //text-indent: -3rem;
        .icon {
            font-size: 1.666em;
            position: absolute;
            width: 2rem;
            margin-left: -3rem;
            //margin-top: -.125rem;
        }

        a {
            text-decoration: none;
        }
    }
}

p.attribution {
    a {
        text-decoration: none;
        font-weight: $fw-bold;
        // color:$color-blue;
        &:hover,&:focus {
            text-decoration: underline;
        }
    }
}

.button {
    display: inline-block;
    margin: 0 0 0.4333rem;
    padding: 0.875em 1.25em 0.75em;
    color: $white;
    background-color: $cl-primary;
    border-radius: 0.333em;
    text-decoration: none;
    font-weight: $fw-black;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    font-size: .9375rem;
    border: 2px solid transparent;
    box-shadow: 0em .5em .25em -.5em rgba(#000,.75);

    &:hover,
    &:focus {
        background-color: darken($cl-primary,10%);
        color: #fff;
    }

    &.hollow {
        background-color: rgba(#fff, 0.5);
        border-color: $cl-primary;
        color: $cl-body-font-color;

        &:hover,
        &:focus {
            background-color: rgba(#fff, 0.75);
            border-color: $cl-secondary;
            color: $cl-primary;
        }
    }

    &.large {
        font-size: 1rem;
    }
}

ul.bulletlist {
    list-style: none;
    margin:0;
    padding:0;
    list-style: none;
    font-size: 1.125rem;
    font-weight: $fw-black;
    line-height: 1.4;

    @include breakpoint($bp-tablet) {
        font-size: 1.4333rem;
    }

    > li {
        margin:0;
        padding:0;
        padding-left: 1.125em;
        position: relative;
        &:not(:last-child) {
            margin-bottom:.75em;
        }

        &:before {
            content: '';
            position: absolute;
            left:0;
            top:.4333em;
            width:.5em;
            height: .5em;
            border-radius: 50%;
            background-color: $cl-primary;
        }
    }
}


.sectitle {
    color:inherit;
    font-weight: $fw-light;
    line-height: 1.2;
    font-size: 2.5rem;
    margin: 0 0 0;

    span {
        font-weight: $fw-black;
        color: $cl-primary;
    }

    @include breakpoint($bp-tablet) {
        font-size: 3rem;
    }
}