h1,h2,h3,h4,h5,h6 {
    font-family: $fontsans;
    font-weight: $fw-black;
    line-height: 1.2;
    margin: 0 0 .75rem;
}
ul,ol {
    margin:0;
    padding:0;
}

h2 {
    font-size:2rem;
    @include breakpoint(768px) {
        font-size:2.5rem;
    }
}
p {
    margin:0 0 1em;
}

a {
    color: inherit;
    &:hover, &:focus {
        // color: $color-blue;
    }
}


ul.niceul {
    @include niceul;
}

.bodycopy {
    ul:not(.swipegallery):not(.slick-dots) {
        @include niceul;
    }
    ol {
        @include niceol;
    }

    p {
        margin: 0 0 1em 0;
    }

    a:not(.button) {
        text-decoration: underline;
        text-decoration-color: $cl-primary;
    }

    .button {
        font-size: .875em;
    }
}

.contacts {
    > p {
        position: relative;
        padding-left: 3rem;
        //text-indent: -3rem;
        .icon {
            font-size: 1.666em;
            position: absolute;
            width: 2rem;
            margin-left: -3rem;
            //margin-top: -.125rem;
        }

        a {
            text-decoration: none;
        }
    }
}

p.attribution {
    a {
        text-decoration: none;
        font-weight: $fw-bold;
        // color:$color-blue;
        &:hover,&:focus {
            text-decoration: underline;
        }
    }
}

.button {
    display: inline-block;
    margin: 0 0 0.4333rem;
    padding: 0.875em 1.25em 0.75em;
    color: $white;
    background-color: $cl-primary;
    // border-radius: 0.333em;
    text-decoration: none;
    font-weight: $fw-black;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    font-size: .9375rem;
    border: 1px solid transparent;
    // box-shadow: 0em .5em .25em -.5em rgba(#000,.75);

    &:hover,
    &:focus {
        background-color: darken($cl-primary,10%);
        color: #fff;
    }

    &.hollow {
        background-color: rgba(#757575, 0.125);
        border-color: currentColor;
        // color: $cl-body-font-color;

        &:hover,
        &:focus {
            background-color: rgba(#757575, 0.5);
            // border-color: $cl-secondary;
            // color: $cl-primary;
        }
    }

    &.faux {
        background-color: transparent;
        // font-weight: normal;
        // text-transform: none;
    }

    &.dark {
        background-color: $cl-gray-dark;


        &:hover,
        &:focus {
            background-color: darken($cl-gray-dark, 10%);
        }
    }

    &.light {
        background-color: $cl-gray-light;
        // color: $cl-body-font-color;

        &:hover,
        &:focus {
            background-color: darken($cl-gray-light, 10%);
        }
    }

    &.tiny {
        font-size: .666rem;
        padding: 0.666em .75em 0.666em;
    }

    &.small {
        font-size: .75rem;
    }

    &.large {
        font-size: 1rem;
    }
}

ul.bulletlist {
    list-style: none;
    margin:0;
    padding:0;
    list-style: none;
    font-size: 1.125rem;
    font-weight: $fw-black;
    line-height: 1.4;

    @include breakpoint($bp-tablet) {
        font-size: 1.4333rem;
    }

    > li {
        margin:0;
        padding:0;
        padding-left: 1.125em;
        position: relative;
        &:not(:last-child) {
            margin-bottom:.75em;
        }

        &:before {
            content: '';
            position: absolute;
            left:0;
            top:.4333em;
            width:.5em;
            height: .5em;
            // border-radius: 50%;
            background-color: $cl-primary;
        }
    }
}


.sectitle {
    color:$cl-primary;
    font-weight: $fw-black;
    line-height: 1.2;
    font-size: 1.875rem;
    margin: 0 0;
    @include breakpoint($bp-large) {
        font-size: 2rem;
    }

    @include breakpoint($bp-xlarge) {
        font-size: 2.5rem;
    }

    .accent & {
        color: inherit;

    }

    // .black & {
    //     color: $cl-gray-xlight;

    // }



    span {
        font-weight: $fw-normal;
        // letter-spacing: -0.025em;
        color: $cl-gray-light;
        // opacity: .5;
    }
    strong {
        // color: $cl-gray-xlight;
        // color:$white;
        font-weight: $fw-normal;
    }
    small {
        font-size: .666em;
    }
    > a {
        text-decoration: none;
        &:hover, &:focus {
            color: lighten($cl-primary,5%);
            span {
                color:#fff;
            }
        }
    }

    @include breakpoint($bp-tablet) {
        font-size: 2.5rem;
    }

    @include breakpoint($bp-xlarge) {
        font-size: 3rem;
    }

    &.withlinea {
        // margin-bottom: 0;
        &:after {
            transform: translateY(-.025em);
            content:'';
            display:block;
            border-top: 1px solid rgba(#000, 0.25);
            border-bottom: 1px solid rgba(#fff, 0.25);
        }
    }
}

hr {
    margin: 1rem auto;
    max-width: rem-calc($layout-content);
    height: 0;
    border: none;
    border-top: 2px solid rgba(#000, 0.25);
    border-bottom: 2px solid rgba(#fff, 0.25);

    &.fulldivider {
        max-width: none;
        margin: 0 auto;
        border-top: 2px solid rgba(#000, 0.05);
        border-bottom: 2px solid rgba(#fff, 0.05);
    }
}

.catlist {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin:0;
    padding:0;
    font-size: .666rem;
    line-height: 1.2;
    > li {
        margin:.125em;
        padding:0;
        white-space: nowrap;
        &:first-child {
            margin-left: 0;
        }

        a {
            display: inline-block;
            background-color: $cl-gray-dark;
            border-radius: 1em;
            padding:.25em .75em;
            letter-spacing: .025em;
            color: $white;
            font-weight: $fw-black;
            text-transform: uppercase;
            text-decoration: none;
            &:hover, &:focus {
                background-color: $cl-primary;
                color:$white;
                
            }

        }
    }
}

.accentcopy {
    font-size: 1.125rem;

    &.narrow {
        max-width: 50rem;
    }

    ul {
        @include niceul;
    }

    ol {
        @include niceol;
    }

}