$hcmaxwidth:60em;
.hero {
    position: relative;
    z-index: 0;
    color:#fff;
    background-color: #000;
    overflow: hidden;
    box-shadow: inset .5rem 0 .5rem -.5rem rgba(#000,.5);
    

    &.fullheight {
        @include breakpoint($bp-xlarge) {
            min-height: calc(100vh - #{$globalheaderheight});
            max-height: 100vw;
        }
    }

    &.dark {
        color:#000;
    }

}
.hero__fig  {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 87%;
    // background-color: #000;
    background-image: linear-gradient(0deg, #000 0, #aaaaaa 10%, #fff 66.66%);
    background-size: 100% 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    z-index: -1;
    margin:0;
    padding:0;

    @include breakpoint($bp-large) {
        height:100%;
        background-image: linear-gradient(45deg,#aaaaaa 10%, #fff 60%);
        background-size: initial;
        background-position:  initial;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: none;
        object-fit: cover;
        mix-blend-mode: multiply;
        // opacity: 0;
    }
}

.hero__content {
    @extend .pagewrap;
    box-shadow: none;
    max-width: $hcmaxwidth;
    margin-left: 0;
    text-shadow: 0 0 1.5rem rgba(#000,.5);
    padding-top:25%;
    font-size:.75rem;

    @include breakpoint($bp-tablet) {
        width:85%
    }

    @include breakpoint($bp-large) {
        padding-top:23%;

        font-size:.9375rem;
        // width:80%
        
    }
    @include breakpoint($bp-xlarge) {
        font-size:1rem;
        transform: translateY(-12.5%);
        // width:75%
        
    }
    @include breakpoint($bp-xxlarge) {
        font-size:1.125rem;
        
    }

    // @include breakpoint(95em) {
    //     padding-left: 7.5%;
    //     padding-right: 7.5%;
    // }
}

.hero__title {
    font-size: 2.5em;
    font-weight: $fw-black;
    
    text-transform: uppercase;
    span {
        color: $cl-primary;
        text-shadow: 0 0 .25rem rgba(#000,.5);
    }
}

.hero__subtitle {
    font-size: 1.5em;
    font-weight: $fw-normal;
}

.hero__lead {
    font-size:1.125em;
    font-weight: $fw-bold;

    ul {
        @include niceul;
    }
    
}

.hero__actions {
    margin-top:2em;
    .button {
        margin:0;
        font-size: .875em;
    }
}




.heroslider {
    overflow: hidden;
    background-color: $cl-gray-xdark;

    .slick-dots {
        @extend .pagewrap;
        position: absolute;
        padding-top:0;
        padding-bottom:0;
        text-align: right;
        bottom:5%;

    }
}