.postswiper {
    margin-top: rem-calc($layout-gutter-width*1.5); 

    &.slick-dotted.slick-slider {
        margin-bottom: rem-calc($layout-gutter-width);
    }
    .slick-slide {
        margin: 0 rem-calc($layout-gutter-width/2);
        height:100%;
        background-color: red;
    }

    .slick-list {
        margin: 0 rem-calc(-$layout-gutter-width/2);
    }

    .slick-track {
        // position: relative;
        // background-color: red;
    }
    .slick-dots {
        position: absolute;
        bottom: rem-calc(-$layout-gutter-width*2);
    }

    .postcard {
        @include breakpoint($bp-medium) {
            min-height: 35rem;
        }
        @include breakpoint($bp-xlarge) {
            min-height: 34rem;
        }
    }
}