.vcardlist {
    list-style: none;
    margin: 0 0;
    padding: 0;
    
    > li {
        margin: 0 auto 1rem;
    }
}

.vcard {
    background-color: #fff;
    color: $cl-body-font-color;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    @include breakpoint(large) {
        flex-direction: row;
    }
}
.vcard__peak {
    position: relative; 
    @include breakpoint(large) {
        border-right: .25rem solid #fff;
    }
    .vcard__head {
        position: absolute;
        bottom:0;
        left:0;
        width:100%;
        display: none;
        padding:1.25rem;
        margin:0;
        border: none;
        color: #fff;
        text-shadow: 0 0 1rem rgba(#000,.75);
        @include breakpoint(large) {
            color:inherit;
            text-shadow: none;
        }
    }

}
.vcard__mainfig {
    margin:0;
    padding:0;
    height: 100%;
    overflow: hidden;
    background-color: $cl-primary;
    // border-right: .25rem solid $cl-gray-dark;
    // border-right: 1rem solid #fff;
    .vcard.is-open & {
        // height: 20rem;
    } 

    img {

        height: 100%;
        width:100%;
        display: block;
        object-fit: cover;
        .vcard.is-open & {
            filter: blur(15px) brightness(1) grayscale(1);
            mix-blend-mode: darken;
            transform: scale(1.125);
            opacity: .75;

        } 
    }
}

.vcard__tail {
    // display: flex;
    // flex-wrap: nowrap;
    // flex-direction: column;
    // justify-content: space-between;
    padding: 1.25rem 1.25rem;
    @include breakpoint(large) {
        min-width:60%;
        // .vcard.is-open & {
        //     min-width: 100%;
        // }
    }
}
.vcard__head {
    border-bottom: 1px solid $cl-gray-light;
    margin:0 0 .5rem 0;
    padding:0 0 .5rem 0;
}
.vcard__maintitle {
    margin:0;
    text-transform: uppercase;
    // color: $cl-primary;
    font-size:1.75rem;
    line-height: 1.2;
}
.vcard__shortdesc {
    font-weight: $fw-bold;
    margin:0 0;
    line-height: 1.2;
    // display: none;
}

.vcard__content {
    font-size: .875rem;
    line-height: 1.4;
    // display: none;
}

.vcard__data {
}

.vcard__actions {
    .button {
        margin:0;
    }
}


.vcard__tabs-content {
    border: none;

    .tabs-panel {
        padding:0 0;
       
    }
}

.vcardquote {
    background-color: #fff;
    color: $cl-body-font-color;
    // padding: 1.25rem 1.25rem;
}

.vcardcarousel {
    // background-color: #fff;
}