.offcanvas {
    position: relative;
    background-color: $cl-black;
    &.sidebar-is-open {
        overflow: hidden;
        @include breakpoint($bp-tablet) {
            overflow: initial;
        }

        .offcanvas__left  {
            transform: translateX(0);
        }
        .offcanvas__body  {
            transform: translateX(#{$globalsidebarwidth-small});
        }


    }
    > * {
        transition: transform .2s ease-in;
    }
}

.offcanvas__left {
    // z-index: 0;
    position: fixed;
    top:0;
    left:0;
    width:#{$globalsidebarwidth-small};
    height: 100%;
    overflow-y: auto;
    background-color: $cl-black;
    color: #fff;
    border-right: 1px solid rgba(#fff,.025);
    transition: transform .2s ease-in;
    transform: translateX(#{-$globalsidebarwidth-small});
    backface-visibility: hidden;

    @include breakpoint($bp-tablet) {
        width:#{$globalsidebarwidth};
        transform: translateX(0);
    }
    //display: none;
}

.offcanvas__body {
    position: relative;
    z-index: 1;
    backface-visibility: hidden;
    background-color: $cl-body-background;
    color: $cl-body-font-color;
    @include breakpoint($bp-tablet) {
        margin-left: $globalsidebarwidth;
        transform: translateX(0) !important;
    }
}
.pagesidebar {
   
    padding: 0 0;
    z-index: 1000;
    text-align: center;
    // border-right: 1px solid rgba(#fff,.025);

}



.js-sidebarclose {
    display: none;
    z-index: 1002;
    position: fixed;
    left: calc(100vw - 7rem);
    top:1rem;
    html.sidebar-is-open & {
        display: inline-block;
    }
}

.pagesidebar__brand {
    display: flex;

    height:$globalheaderheight;
    align-items: center;

    &:hover, &:focus {
        img {
            opacity: 1;
        }
    }
    img {
        height:56.666%;
        margin:0 auto;
        opacity: .75;


    }

    @include breakpoint($bp-tablet down) {
        height:$globalheaderheight-small;
        display: none;
    }
}


.pagesidebar__bottom {
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    padding:.75rem .5rem;
    // background-color: $cl-primary;
    @media screen and (max-height: 38em){
        display: none;
    }
    @media screen and (max-height: 45em) and (min-width: 768px ){
        display: none;
    }

}
.pagesidebar__slogan {
    max-height: #{$globalheaderheight - 1rem};
    opacity: .4;
}