.pagesidebar {
    background-color: $black;
    color: #fff;
    position: fixed;
    top:0;
    left:-#{$globalsidebarwidth};
    bottom:0;
    height:100%;
    width:#{$globalsidebarwidth};
    padding: 0 0;
    z-index: 1000;
    overflow-y: auto;
    transition: left .2s ease-in;




    @include breakpoint($bp-tablet) {
        left:0;
    }


}

html.sidebar-is-open .pagesidebar {
    left:0;
}


.js-sidebarclose {
    display: none;
    position: relative;
    z-index: 1001;
    position: fixed;
    right:1rem;
    top:1rem;
    html.sidebar-is-open & {
        display: inline-block;
    }
}

