.siteheader {
    // @extend .pagewrap;
    color:$cl-body-font-color;
    background-color: $cl-body-background;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    z-index: 10000;

    height:$globalheaderheight;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: initial;
    // margin-left: -$globalsidebarwidth;
    // @include breakpoint(95em) {
    //     padding-left: 7.5%;
    //     padding-right: 7.5%;
    // } 

}


.siteheader__brand {
    position: absolute;
    // z-index: 10001;
    left:-$globalsidebarwidth;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: inherit;
    width: $globalsidebarwidth;
    margin-right: $globalsidebarwidth;

    
    // width: 100%;
    img {
        height:66%;
        margin:0 auto;

    }
}

.siteheader__nav {
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-items: flex-end;
    position: relative;

    .countryselect {
        margin-left: 1rem;
        display: flex;
        text-align: center;
        align-items: center;
        // justify-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: $cl-gray-xlight;
        border-left: 1px solid darken($cl-gray-xlight,3%);
        // border-right: 1px solid darken($cl-gray-xlight,5%);
        width:4rem;
        font-size: .75rem;
        height:$globalheaderheight;
        text-decoration: none;
        font-weight: $fw-black;
        text-transform: uppercase;
        &:hover,&:focus {
            background-color: darken($cl-gray-xlight,3%);
        }

        img {
            display: block;
            margin:0 auto;
            width:1.25rem;
        }
        span {
            display: block;
            
        }

    }

}


.siteheader__topinfo {
    font-family: sans-serif;
    position: absolute;
    right: 4rem;
    top:.4333rem;
    height:1rem;
    line-height: 1.2;
    padding:0 .75rem 0 0;
    font-size: .75rem;
    font-weight: $fw-bold;
    // color: $cl-gray;
    font-feature-settings: "lnum" 0;
    text-transform: uppercase;
    a {
        text-decoration: none;
        // color:$cl-primary;
    }
}