.siteheader {
    @extend .pagewrap;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    z-index: 10000;
    background-color: #fff;
    height:$globalheaderheight;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: initial;
    // margin-left: -$globalsidebarwidth;
    @include breakpoint(95em) {
        padding-left: 7.5%;
        padding-right: 7.5%;
    } 

}


.siteheader__brand {
    position: absolute;
    z-index: 10001;
    left:-$globalsidebarwidth;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: inherit;
    width: $globalsidebarwidth;
    margin-right: $globalsidebarwidth;

    
    // width: 100%;
    img {
        height:56.666%;
        margin:0 auto;

    }
}

.siteheader__nav {
    flex-grow: 1;

}
