.sitefooter {
    @extend .pagewrap;
    background-color: $cl-gray-dark;
    color: $cl-gray-light;
    @include breakpoint(95em) {
        padding-left: 7.5%;
        padding-right: 7.5%;
    } 

}

.footerwidgetgrid {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: rem-calc($layout-gutter-width * 1);
    grid-row-gap: rem-calc($layout-gutter-width * 1);
    grid-auto-rows: 1fr;

    @include breakpoint($bp-medium) {
        grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    
    }
}