.siteheader {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
    overflow: visible;

}

.siteheader__logoblock {
    align-self: flex-start;
}

.sitelogo {
   display: block;
   max-width: calc(6rem + 4.5vw);
   min-width: 7rem;
   margin-right: 1rem;
}

.menutoggler {
    @include hamburger($white, $cl-primary, 25px, 20px, 3px, 3);
}