<div id="whyrent" class="pagewrap full" data-magellan="whyrent">
    <div class="accentcopy">
    <h2 class="sectitle">MIÉRT JÓ BÉRELNI?</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, ratione necessitatibus doloremque iusto explicabo laboriosam dicta excepturi esse doloribus asperiores eligendi quod consectetur, illum quos labore ipsam perspiciatis? Ipsam, dicta.</p>
    </div>
    <ul class="advantagelist">
        <li>
            <div class="advantagecard">
                <figure>
                <div class="icon-calendar"></div>
                </figure>
                <h3>Tervezhető költségek</h3>
                <p>A szállítás költségei előre tervezhetőek, a bérleti díjon felül nincsenek további kiadásai (pl. szerviz, adó, biztosítás, stb). Járműveink akár egy havi bérleti díj befizetésével üzembe állíthatók.</p>
            </div>
        </li>
        <li>
            <div class="advantagecard">
                <figure>
                <div class="icon-service"></div>
                </figure>
                <h3>Azonnali csereautó</h3>
                <p>Nem engedheti meg magának, hogy járművei kiessenek a munkából, ezért meghibásodás esetén a lehető leghamarabb elvégezzük a javítást, vagy cserejárművet biztosítunk.</p>
            </div>
        </li>
        <li>
            <div class="advantagecard">
                <figure>
                <div class="icon-aesthetic"></div>
                </figure>
                <h3>Kitűnő műszaki és esztétikai állapot</h3>
                <p>Járműveink az általunk biztosított rendszeres karbantartásnak köszönhetően kitűnő esztétikai és műszaki állapotban vannak, ez bizonyára jó benyomást teszt majd ügyfeleire is.</p>
            </div>
        </li>
        <li>
            <div class="advantagecard">
                <figure>
                <div class="icon-penny"></div>
                </figure>
                <h3>Gazdaságos járműüzemeltetés</h3>
                <p>Naša moderna vozila imaju informacioni sistem koji olakšava proveru vozača i samog vozila. Ovim se može uštedeti ogromna količina goriva.</p>
            </div>
        </li>
        <li>
            <div class="advantagecard">
                <figure>
                <div class="icon-administration"></div>
                </figure>
                <h3>Adminisztrációt mi intézzük</h3>
                <p>Ako se ne bavite administrativnim procedurama, možete uštedeti i novac i vreme. Sve to obavljamo za vas, recimo, osiguranje, registracione formalnosti, poresku ili tehničku administraciju.</p>
            </div>
        </li>
        <li>
            <div class="advantagecard">
                <figure>
                <div class="icon-freeze"></div>
                </figure>
                <h3>Rugalmas alkalmazkodás, flottakezelés</h3>
                <p>Zbog fleksibilne konstrukcije iznajmljivanja, možete se prilagoditi bilo kojoj vrsti zadatka i postati konkurentniji. Na primer, ako se vaš teretni zadatak promeni, ako su nastupile neke nove okolnosti, mi zamenjujemo vaše vozilo.</p>
            </div>
        </li>
        <li>
            <div class="advantagecard">
                <figure>
                <div class="icon-law"></div>
                </figure>
                <h3>előírások betartása</h3>
                <p>Pravni propisi postaju sve strožiji. Potrebno vam je prevozno sredstvo koje ispunjava sve propise.</p>
            </div>
        </li>
        <li>
            <div class="advantagecard">
                <figure>
                <div class="icon-bulby"></div>
                </figure>
                <h3>Egyedi arculati igények</h3>
                <p>Da li vam je važan imidž vaše kompanije? U slučaju dugoročnog iznajmljivanja, na vozilo možete staviti logotip vaše kompanije.</p>
            </div>
        </li>
    </ul>
</div>