<div class="pagewrap xdark full">

    <h2 class="sectitle">GYAKORI KÉRDÉSEK</h2>
    <br>    
    <ul class="accordion" data-accordion data-allow-all-closed="true">
        <li class="accordion-item is-active" data-accordion-item>
          <a href="#" class="accordion-title">Meddig lehet lorem, ipsum dolor?</a>    
          <div class="accordion-content" data-tab-content>
            <p>Panel 1. Lorem ipsum dolor. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque repellat consectetur ipsam facere placeat id ut velit at tenetur, ullam nesciunt. Aspernatur voluptatem nulla ipsam officia eveniet deleniti vero incidunt. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores recusandae quam, perspiciatis ullam a odio.</p>
          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title">Milyen egyéb dolor sit amet consectetur</a>
            <div class="accordion-content" data-tab-content>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis repellat quisquam ea necessitatibus at veniam, cupiditate qui voluptates. Inventore quia a sapiente dignissimos totam!</p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title">Mikor van az amikor bérlés egyéb dolores sitamet?</a>      
            <div class="accordion-content" data-tab-content>
                <p>Panel 3. Lorem ipsum dolor. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque repellat consectetur ipsam facere placeat id ut velit at tenetur, ullam nesciunt. Aspernatur voluptatem nulla ipsam officia eveniet deleniti vero incidunt.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores recusandae quam, perspiciatis ullam a odio.</p>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title">Meddig lehet lorem, ipsum dolor?</a>    
            <div class="accordion-content" data-tab-content>
              <p>Panel 4. Lorem ipsum dolor. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque repellat consectetur ipsam facere placeat id ut velit at tenetur, ullam nesciunt. Aspernatur voluptatem nulla ipsam officia eveniet deleniti vero incidunt.</p>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores recusandae quam, perspiciatis ullam a odio.</p>
            </div>
          </li>
    </ul>
</div> 