<section class="hero">
    <figure class="hero__fig">
        <img src="{{root}}assets/img/herofull.jpg" alt="">
    </figure>
    <div class="hero__content">
        <h1 class="hero__title">Haszongépjárművek bérlete a legrugalmasabb megoldás</h1>
        <h2 class="hero__subtitle">Az Ön fuvarfeladatához alakítjuk járműparkját</h2>
        <div class="hero__lead">
            <ul>
                <li>Rugalmas bérleti szerződések akár 1 napos bérleti konstrukcióval</li>
                <li>1,5 tonnás haszonjárműtől a 40 tonnás járműszerelvényig</li>
                <li>Jelenleg is több mint 1600 járművünk fut az európai utakon</li>
            </ul>
        </div>
        <div class="hero__actions">
            <a href="#" class="button">Válasszon kategóriáink közül</a>
        </div>
    </div>
</section>