<aside class="mobilenavpanel">
    <a class="mobilenavpanel__brand" href="{{root}}/"><img src="{{root}}assets/img/logo-white.svg" alt=""></a>
    <ul class="mobilemenu">
        {{> mainmenu }}
    </ul>
    <br>
    <br>
    <hr class="fulldivider">
    <div class="mobilenavpanel__bottom">
        Tel: <a href="#">+36 (70) 770 5653</a>
        <a class="countryselect" href="#">
            <img src="{{root}}assets/img/vectors/globe.svg" alt="">
            <span>HU</span>
        </a>
    </div>
    <a href="#" class="mobilenavpanel__close">&times;</a>
</aside>