<aside class="pagesidebar">
    <a class="pagesidebar__brand" href="{{root}}/"><img src="{{root}}assets/img/logo-white.svg" alt=""></a>
    <ul class="sidemenu">
        <li>
            <a href="{{root}}mainvcat.html">
                <img src="{{root}}assets/iconcollection/furgon.svg" alt="">
                Furgonok
            </a>
            <ul>
                <li class="is-active"><a href="#" class="js-closesidemenu">vissza</a></li>
                <li><a href="{{root}}subvcat.html"><img src="{{root}}assets/iconcollection/minibusz.svg" alt="">Ponyvás</a></li>
                <li><a href="{{root}}subvcat.html"><img src="{{root}}assets/iconcollection/kommunalis.svg" alt="">Hűtős</a></li>
                <li><a href="{{root}}subvcat.html"><img src="{{root}}assets/iconcollection/teherauto.svg" alt="">Zárt áruszállító</a></li>
                <li><a href="{{root}}mainvcat.html">Mutasd mindet</a></li>
            </ul>
        </li>
        <li>
            <a href="{{root}}subvcat.html">
                <img src="{{root}}assets/iconcollection/minibusz.svg" alt="">
                Minibuszok
            </a>
        </li>
        <li>
            <a href="{{root}}mainvcat.html">
                <img src="{{root}}assets/iconcollection/kisteherauto.svg" alt="">
                Kisteherautók
            </a>
        </li>
        <li>
            <a href="{{root}}mainvcat.html">
                <img src="{{root}}assets/iconcollection/teherauto.svg" alt="">
                Teherautók
            </a>
            <ul>
                <li class="is-active"><a href="#" class="js-closesidemenu">vissza</a></li>
                <li><a href="{{root}}subvcat.html"><img src="{{root}}assets/iconcollection/teherauto.svg" alt="">Hűtős teharautó</a></li>
                <li><a href="{{root}}subvcat.html"><img src="{{root}}assets/iconcollection/kommunalis.svg" alt="">Ponyvás teherautó</a></li>
                <li><a href="{{root}}subvcat.html"><img src="{{root}}assets/iconcollection/teherauto.svg" alt="">Dolror sit </a></li>
                <li><a href="{{root}}mainvcat.html">Mutasd mindet</a></li>
            </ul>
        </li>
        <li>
            <a href="{{root}}subvcat.html">
                <img src="{{root}}assets/iconcollection/kommunalis.svg" alt="">
                Kommunális
            </a>
        </li>
        <li>
            <a href="{{root}}subvcat.html">
                <img src="{{root}}assets/iconcollection/nyergesvontato.svg" alt="">
                Nyerges vontatók
            </a>
        </li>
        <li>
            <a href="{{root}}mainvcat.html">
                <img src="{{root}}assets/iconcollection/felpotkocsi.svg" alt="">
                Félpótkocsik
            </a>
            <ul>
                <li class="is-active"><a href="#" class="js-closesidemenu">vissza</a></li>
                <li>
                    <a href="{{root}}subvcat.html">
                        <img src="{{root}}assets/iconcollection/felpotkocsi.svg" alt="">
                        Ponyvás félpótkocsik
                    </a>
                </li>
                <li>
                    <a href="{{root}}subvcat.html">
                        <img src="{{root}}assets/iconcollection/felpotkocsi.svg" alt="">
                        Hűtős félpótkocsik
                    </a>
                </li>
                <li>
                    <a href="{{root}}subvcat.html">
                        <img src="{{root}}assets/iconcollection/felpotkocsi.svg" alt="">
                        Speciális félpótkocsik
                    </a>
                </li>
                <li><a href="{{root}}mainvcat.html">Mutasd mindet</a></li>
            </ul>
        </li>
    </ul>
</aside>