<aside class="pagesidebar">
    <ul class="sidemenu">
        <li>
            <a href="#">
                <img src="{{root}}assets/iconcollection/furgon.svg" alt="">
                Furgon
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{{root}}assets/iconcollection/minibusz.svg" alt="">
                Minibusz
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{{root}}assets/iconcollection/kisteherauto.svg" alt="">
                Kisteherautó
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{{root}}assets/iconcollection/teherauto.svg" alt="">
                Teherautó
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{{root}}assets/iconcollection/kommunalis.svg" alt="">
                Kommunális járművek
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{{root}}assets/iconcollection/nyergesvontato.svg" alt="">
                Nyerges vontató
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{{root}}assets/iconcollection/felpotkocsi.svg" alt="">
                Félpótkocsi
            </a>
        </li>
    </ul>
</aside>