<section class="promocard">
        <figure class="promocard__fig">
            <a href=""><img width="{{ img_width }}" height="{{ img_height }}" src="https:/source.unsplash.com/{{ img_width }}x{{ img_height }}/?truck,van,kombi" alt=""></a>
        </figure>
        <h3 class="promocard__title">
            <a href="#">{{ shortdesc }}</a>
        </h3>
        <div class="promocard__excerpt">
            <p>{{ info }}</p>
        </div>
        <div class="promocard__actions">
            <a href="#" class="button">Tovább olvasom</a>
        </div>
</section>