<aside class="siteheader">
    <a class="siteheader__brand" href="{{root}}"><img src="{{root}}assets/img/logo.svg" alt=""></a>
    <ul class="mainmenu">
        <li>
            <a href="#">
                Bérlésről
            </a>
        </li>
        <li>
            <a href="#">
                Rövid Táv
            </a>
        </li>
        <li>
            <a href="#">
                Truck news
            </a>
        </li>
        <li>
            <a href="#">
                Kariéra
            </a>
        </li>
        <li>
            <a href="#">
                Rólunk
            </a>
        </li>
        <li>
            <a href="#">
                Kapcsolat
            </a>
        </li>
    </ul>
    <button class="js-sidebartoggler button small hide-for-tablet" style="float:right;">Bérelhető<br>autók</button>
    <button class="js-sidebarclose button small">Bezárás</button>
</aside>