<aside class="sitemheader">
    <a class="sitemheader__brand" href="{{root}}/"><img src="{{root}}assets/img/logo.svg" alt=""></a>

    <button class="js-sidebartoggler js-menutoggler sitemheader__toggler">
        <img src="{{root}}assets/img/vectors/list.svg" alt="">
        <span>Menü</span>
    </button>


</aside>
<aside class="siteheader">
    <a class="siteheader__brand" href="{{root}}/"><img src="{{root}}assets/img/logo.svg" alt=""></a>
    <nav class="siteheader__nav">
        <div class="siteheader__topbar">

            <nav class="siteheader__topbar__nav">
                <ul class="topbarmenu">
                    {{> topbarmenu }}
                </ul>
            </nav>
            <div class="siteheader__topbar__actions"> Tel: <a href="#">+36 (70) 770 5653</a></div>
        </div>
        <ul class="mainmenu show-for-tablet">
            {{> mainmenu }}
        </ul>
        <a class="countryselect" href="#">
            <img src="{{root}}assets/img/vectors/globe.svg" alt="">
            <span>HU</span>
        </a>
    </nav>
</aside>