<footer role="contentinfo" class="sitefooter">
    <ul class="footerwidgetgrid">
        <li>
            <section class="widget">
            <h3 class="widget__title">Kapcsolat</h3>
            <div class="widget__body">
                <p><strong>Viabérautó Kft. - Szigetszentmiklós</strong><br>
                    <strong>Telefon: <a href="tel:+36 1 358 14 44 ">+36 (1) 358 1444</a></strong><br>
                    <strong>Fax: <a href="tel:+36 1 358 14 44 ">+36 (24) 50 22 33</a></strong><br>
                    <strong>E-mail: <a href="mailto:budapest@viarent.hu">info@viarent.hu</a></strong></p>
                    <a class="button hollow tiny" href="{{root}}contact.html">Telephelyek és nyitvatartás</a>
            </div>
            </section>
        </li>
        <li>
            <section class="widget">
            <h3 class="widget__title">Franchise hálózat</h3>
            <div class="widget__body">
                <ul class="niceul">
                    <li><a href="#"><strong>Magyarország</strong> - Viabérautó Kft.</a></li>
                    <li><a href="#"><strong>Szlovákia</strong> - Viarent s.r.o.</a></li>
                    <li><a href="#"><strong>Szerbia</strong> - SDT Renting D.O.O.</a></li>
                </ul>
            </div>
            </section>
        </li>
        <li>
            <section class="widget">
            <h3 class="widget__title">Esetleg social links</h3>
            <div class="widget__body">
                <p>Aquibusdam repellendus dolorem dolores deleniti excepturi laboriosam quos eligendi fugit iure hic culpa ipsum nisi!</p>
            </div>
            </section>
        </li>
        <li>
            <section class="widget">
            <h3 class="widget__title">Első három kábé fix</h3>
            <div class="widget__body">
                <p><strong>Ezek meg mondjuk országspecifikus tartlamak lehetnek</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, doloribus enim? Perferendis, maiores est!</p>
            </div>
            </section>
        </li>
        <li>
            <section class="widget">
            <h3 class="widget__title">Custom widget goes here</h3>
            <div class="widget__body">
                <p><strong>Lehet csak kettő is</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, doloribus enim? Perferendis, maiores est!</p>
            </div>
            </section>
        </li>
    </ul>
    <div class="sitefooter__bottom">
        <p>&copy; 2020 All rights reserved. VIARENT is a trademark of Via Bérautó Kft. <a href="#">Jogi nyilatkozat</a> | <a href="#">Adatkezelési tájékoztató</a> | <a href="#">Sütik kezelése</a></p>    
    </div>
</footer>