<footer role="contentinfo" class="sitefooter">
    <ul class="footerwidgetgrid">
        <li>
            <section class="widget">
            <h3 class="widget__title">M0 Szigetszentmiklós</h3>
            <div class="widget__body">
                <p>Consectetur adipisicing elit. At ratione ipsam iusto est eum facere voluptatibus dolore sit sed, quibusdam repellendus dolorem dolores deleniti excepturi laboriosam quos eligendi fugit iure hic culpa ipsum nisi!</p>
            </div>
            </section>
        </li>
        <li>
            <section class="widget">
            <h3 class="widget__title">Budapest</h3>
            <div class="widget__body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At ratione ipsam iusto est eum facere voluptatibus dolore sit sed, quibusdam repellendus dolorem dolores deleniti excepturi laboriosam quos eligendi fugit iure hic culpa ipsum nisi!</p>
            </div>
            </section>
        </li>
        <li>
            <section class="widget">
            <h3 class="widget__title">Szenc/Senec</h3>
            <div class="widget__body">
                <p>At ratione ipsam iusto est eum facere voluptatibus dolore sit sed, quibusdam repellendus dolorem dolores deleniti excepturi laboriosam quos eligendi fugit iure hic culpa ipsum nisi!</p>
            </div>
            </section>
        </li>
        <li>
            <section class="widget">
            <h3 class="widget__title">Doloripsum dolor sit amet.</h3>
            <div class="widget__body">
                <p>Consectetur adipisicing elit. At ratione ipsam iusto est eum facere voluptatibus dolore sit sed, quibusdam repellendus dolorem dolores deleniti excepturi laboriosam quos eligendi fugit iure hic culpa ipsum nisi!</p>
            </div>
            </section>
        </li>
    </ul>
    <br><br>
    <hr class="fulldivider"><br>
    <p><strong>&copy; 2020 Delta-Truck Kft. • VIARENT, a Via Bérautó Kft. védjegye • Delta-Truck s.r.o. All Rights Reserved.</strong></p>
    <p><a href="#">Jogi nyilatkozat</a> | <a href="#">Adatkezelési tájékoztató</a> | <a href="#">Sütik kezelése</a></p>
</footer>