<form id="vcardform-{{@index}}ty" class="viaform" data-abide novalidate>
    <ul class="inputgrid">
        <li>
          <label>
            <input type="text" placeholder="Név" required>
          </label>
        </li>
        <li>
            <label>
              <input type="email" placeholder="E-mail cím" pattern="email">
            </label>
          </li>
        <li>
          <label>
            <input type="text" placeholder="Telefonszám">
          </label>
        </li>
        <li>
          <label>
            <input type="text" placeholder="Cégnév">
          </label>
        </li>
        <li class="double">
            <label>
              <input type="text" placeholder="Cím">
            </label>
        </li>
    </ul>

    <fieldset>
        <label>Bérlés időtartama</label>
        <ul class="checkergrid">
            <li>
            <label class="checkboxlabel" for="vcardform-{{@index}}-contract1"><input id="vcardform-{{@index}}-contract1" type="checkbox">Rövid táv (1-364 nap)</label>
            </li>
            <li>
            <label class="checkboxlabel" for="vcardform-{{@index}}-contract2"><input id="vcardform-{{@index}}-contract2" type="checkbox" required>Hosszú táv (több mint 1 év)</label>
            </li>
        </ul>
    </fieldset>



        <ul class="inputgrid">
            <li>

                <label>
                    <textarea name="" id="" rows="3" placeholder="Egyéb üzenet"></textarea>
                </label>
            </li>
            <li>
            <label class="checkboxlabel small" for="vcardform-{{@index}}-accept1"><input id="vcardform-{{@index}}-accept1" type="checkbox">Elfogadom az adatkezelési tájékoztatóban foglaltakat</label>
            <label class="checkboxlabel small" for="vcardform-{{@index}}-accept2"><input id="vcardform-{{@index}}-accept2" type="checkbox" required>Hozzájárulok a kereskedelmi és marketin célú megkereséseknek</label>
            </li>
        </ul>

      <div class="formactions">
            <button class="button small" type="submit" value="Submit">Ajánlatkérés elküldése</button>
          <button class="button small light js-closevquoteform" data-ctarget="vcardcarousel-{{@index}}">Mégsem</button>
      </div>

  </form>